<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
	<title>Clients App</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">

</head>
<body>
	<div id="app">
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Clients Management System</a>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<router-link class="nav-link" v-if="user != null" to="/">Clients</router-link>
					</li>
					<li class="nav-item">
						<router-link class="nav-link" v-if="user == null" to="/login">Login</router-link>
					</li>

					<li class="nav-item">
						<router-link class="nav-link" v-if="user != null" to="/logout">Logout</router-link>
					</li>
				</ul>

			</div>
		</nav>

		<div class="container-fluid">

			<router-view></router-view>

		</div>

	</div>

	<script type="text/javascript" src="js/app.js"></script>

</body>
</html>