
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

//TOASTR
@import 'node_modules/toastr/toastr';

//SWALL
@import "node_modules/sweetalert2/dist/sweetalert2.min";

@import 'mixins.scss';

.double-container-wrapper{
	width: 200% !important;
	left: 0px;
	position: relative;

	@include animated(all, 500ms, ease);
	&.second{
		left: -100%;
	}
	.first{
		width: 50%;	
		float:left;
	}

	.second
	{
		width: 50%;
		float:left;
	}
}

.overflow-hidden{
	overflow: hidden;
} 


#toast-container > div {
  opacity: 1 !important;
}