<template>
	

	<div class="row mt-5">
		<div class="col overflow-hidden">
			<div class="double-container-wrapper overfl" :class="step">

				<div class="col first">
					<div class="card">
						<div class="card-block">
							<div class="mb-4">
								<h4 class="card-title d-inline">Clients</h4>
								<button type="button" @click="createClient" class="btn btn-primary float-right">NEW</button>
							</div>
							<table class="table" v-if="table.paginate != null">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Email</th>
										<th>Created At</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="row in table.paginate.data">
										<th width="5%" scope="row" v-text="row.id"></th>
										<td width="40%" v-text="row.name"></td>
										<td width="30%" v-text="row.email"></td>
										<td width="15%"v-text="row.created_at"></td>
										<td width="10	%">
											<button type="button" @click="editClient(row)" class="btn btn-success">EDIT</button>
											<button type="button" @click="deleteClient(row)" class="btn btn-danger">DEL</button>
										</td>
									</tr>

								</tbody>
								<tfoot>
									<tr>
										<td colspan="2">
											FROM&nbsp;<strong><span v-text="table.paginate.meta.from"></span></strong>
											TO&nbsp;
											<strong><span v-text="table.paginate.meta.to"></span></strong>
											OF&nbsp;
											<strong><span v-text="table.paginate.meta.total"></span></strong>
										</td>
										<td colspan="3">
											<div  class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group mr-2" role="group" aria-label="First group">
													<button @click="table.first()" class="btn btn-secondary"><<</button>
													<button @click="table.prev()" class="btn btn-secondary"><</button>
													<button  v-text="table.paginate.meta.current_page" class="btn btn-secondary"></button>
													<button  @click="table.next()" class="btn btn-secondary">></button>
													<button  @click="table.last()" class="btn btn-secondary">>></button>
												</div>
											</div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div> 
				</div>


				<div class="col second">
					<div class="card">
						<div class="card-block">
							<div class="mb-">
								<h4 class="card-title d-inline" v-text="'Client:  ' + clientForm.first_name + ' ' + clientForm.last_name"></h4>
								<button type="button" @click="cancelClient()" class="btn btn-primary float-right">BACK</button>
							</div>
							<form class="mt-5" @submit.prevent="saveClient" @keypress="clientForm.errors.clear($event.target.name)">
								
								<div class="form-group row" :class="{ 'has-danger' : clientForm.errors.has('first_name') }">
									<label for="first_name" class="col-sm-2 form-control-label">First Name</label>
									<div class="col-sm-10">
										<input type="text" maxlength="50" v-model="clientForm.first_name" class="form-control" name="first_name" placeholder="First Name">
										<small v-if="clientForm.errors.has('first_name')" v-text="clientForm.errors.get('first_name')" class="form-control-feedback"></small>	
									</div>

								</div>

								<div class="form-group row" :class="{ 'has-danger' : clientForm.errors.has('last_name') }">
									<label for="first_name" class="col-sm-2 form-control-label">Last Name</label>
									<div class="col-sm-10">
										<input type="text" maxlength="50" v-model="clientForm.last_name" class="form-control" name="last_name" placeholder="last Name">
										<small v-if="clientForm.errors.has('last_name')" v-text="clientForm.errors.get('last_name')" class="form-control-feedback"></small>	
									</div>

								</div>

								<div class="form-group row" :class="{ 'has-danger' : clientForm.errors.has('email') }">
									<label for="email" class="col-sm-2 form-control-label">Email</label>
									<div class="col-sm-10">
										<input type="email" v-model="clientForm.email" class="form-control" name="email" placeholder="Email">
										<small v-if="clientForm.errors.has('email')" v-text="clientForm.errors.get('email')" class="form-control-feedback"></small>
									</div>

								</div>
								
								<div class="form-group row">
									<div class="col-12">
										<button type="submit" class="btn btn-primary float-right ml-2">SAVE</button>
										<button @click.prevent="cancelClient" class="btn btn-danger float-right">CANCEL</button>
									</div>
								</div>
							</form>
						</div>
					</div> 
					<div class="row no-gutter">
						<div class="mt-5 overflow-hidden" style="width:100%;"  v-if="clientForm.id > 0">
							<div class="double-container-wrapper overflow" :class="stepContact">
								<div class="col first no-gutter">
									<div class="card">
										<div class="card-block">
											<div class="mb-4">
												<h4 class="card-title d-inline">Contacts</h4>
												<button type="button" @click="createContact()" class="btn btn-primary float-right">NEW CONTACT</button>
											</div>

											<table class="table" v-if="tableContacts.paginate != null">
												<thead>
													<tr>
														<th>#</th>
														<th>Address</th>
														<th>City</th>
														<th>Postcode</th>
														<th>Country</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="row in tableContacts.paginate.data">
														<th width="5%" scope="row" v-text="row.id"></th>
														<td width="35%" v-text="row.address"></td>
														<td width="25%" v-text="row.city"></td>
														<td width="15%"v-text="row.postcode"></td>
														<td width="10%"v-text="row.country_code"></td>
														<td width="15%">
															<button type="button" @click="editContact(row)" class="btn btn-success">EDIT</button>
															<button type="button" @click="deleleContact(row)" class="btn btn-danger">DEL</button>
														</td>
													</tr>

												</tbody>
												<tfoot>
													<tr>
														<td colspan="2">
															FROM&nbsp;<strong><span v-text="tableContacts.paginate.meta.from"></span></strong>
															TO&nbsp;
															<strong><span v-text="tableContacts.paginate.meta.to"></span></strong>
															OF&nbsp;
															<strong><span v-text="tableContacts.paginate.meta.total"></span></strong>
														</td>
														<td colspan="4">
															<div  class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
																<div class="btn-group mr-2" role="group" aria-label="First group">
																	<button @click="tableContacts.first()" class="btn btn-secondary"><<</button>
																	<button @click="tableContacts.prev()" class="btn btn-secondary"><</button>
																	<button  v-text="tableContacts.paginate.meta.current_page" class="btn btn-secondary"></button>
																	<button  @click="tableContacts.next()" class="btn btn-secondary">></button>
																	<button  @click="tableContacts		.last()" class="btn btn-secondary">>></button>
																</div>
															</div>
														</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div> 
								</div>

								<div class="col second no-gutter">
									<div class="card">
										<div class="card-block">
											<div class="mb-">
												<h4 class="card-title d-inline">Contact</h4>
												<button type="button" @click="cancelContact()" class="btn btn-primary float-right">BACK</button>
											</div>
											<form class="mt-5" @submit.prevent="saveContact" @keypress="contactForm.errors.clear($event.target.name)">

												<div class="form-group row" :class="{ 'has-danger' : contactForm.errors.has('address') }">
													<label for="first_name" class="col-sm-2 form-control-label">Address</label>
													<div class="col-sm-10">
														<input type="text" maxlength="50" v-model="contactForm.address" class="form-control" name="address" placeholder="Address">
														<small v-if="contactForm.errors.has('address')" v-text="contactForm.errors.get('address')" class="form-control-feedback"></small>	
													</div>
												</div>

												<div class="form-group row" :class="{ 'has-danger' : contactForm.errors.has('city') }">
													<label for="address" class="col-sm-2 form-control-label">City</label>
													<div class="col-sm-10">
														<input type="text" maxlength="50" v-model="contactForm.city" class="form-control" name="city" placeholder="City">
														<small v-if="contactForm.errors.has('city')" v-text="contactForm.errors.get('city')" class="form-control-feedback"></small>	
													</div>
												</div>

												<div class="form-group row" :class="{ 'has-danger' : contactForm.errors.has('postcode') }">
													<label for="postcode" class="col-sm-2 form-control-label">PostCode</label>
													<div class="col-sm-10">
														<input type="text" maxlength="20" v-model="contactForm.postcode" class="form-control" name="first_name" placeholder="City">
														<small v-if="contactForm.errors.has('postcode')" v-text="contactForm.errors.get('postcode')" class="form-control-feedback"></small>	
													</div>
												</div>

												<div class="form-group row" :class="{ 'has-danger' : contactForm.errors.has('country_code') }">
													<label for="postcode" class="col-sm-2 form-control-label">Country</label>
													<div class="col-sm-10">
														<select name="country_code" class="form-control" v-model="contactForm.country_code">
															<option value="AF">Afghanistan</option>
															<option value="AX">Åland Islands</option>
															<option value="AL">Albania</option>
															<option value="DZ">Algeria</option>
															<option value="AS">American Samoa</option>
															<option value="AD">Andorra</option>
															<option value="AO">Angola</option>
															<option value="AI">Anguilla</option>
															<option value="AQ">Antarctica</option>
															<option value="AG">Antigua and Barbuda</option>
															<option value="AR">Argentina</option>
															<option value="AM">Armenia</option>
															<option value="AW">Aruba</option>
															<option value="AU">Australia</option>
															<option value="AT">Austria</option>
															<option value="AZ">Azerbaijan</option>
															<option value="BS">Bahamas</option>
															<option value="BH">Bahrain</option>
															<option value="BD">Bangladesh</option>
															<option value="BB">Barbados</option>
															<option value="BY">Belarus</option>
															<option value="BE">Belgium</option>
															<option value="BZ">Belize</option>
															<option value="BJ">Benin</option>
															<option value="BM">Bermuda</option>
															<option value="BT">Bhutan</option>
															<option value="BO">Bolivia, Plurinational State of</option>
															<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
															<option value="BA">Bosnia and Herzegovina</option>
															<option value="BW">Botswana</option>
															<option value="BV">Bouvet Island</option>
															<option value="BR">Brazil</option>
															<option value="IO">British Indian Ocean Territory</option>
															<option value="BN">Brunei Darussalam</option>
															<option value="BG">Bulgaria</option>
															<option value="BF">Burkina Faso</option>
															<option value="BI">Burundi</option>
															<option value="KH">Cambodia</option>
															<option value="CM">Cameroon</option>
															<option value="CA">Canada</option>
															<option value="CV">Cape Verde</option>
															<option value="KY">Cayman Islands</option>
															<option value="CF">Central African Republic</option>
															<option value="TD">Chad</option>
															<option value="CL">Chile</option>
															<option value="CN">China</option>
															<option value="CX">Christmas Island</option>
															<option value="CC">Cocos (Keeling) Islands</option>
															<option value="CO">Colombia</option>
															<option value="KM">Comoros</option>
															<option value="CG">Congo</option>
															<option value="CD">Congo, the Democratic Republic of the</option>
															<option value="CK">Cook Islands</option>
															<option value="CR">Costa Rica</option>
															<option value="CI">Côte d'Ivoire</option>
															<option value="HR">Croatia</option>
															<option value="CU">Cuba</option>
															<option value="CW">Curaçao</option>
															<option value="CY">Cyprus</option>
															<option value="CZ">Czech Republic</option>
															<option value="DK">Denmark</option>
															<option value="DJ">Djibouti</option>
															<option value="DM">Dominica</option>
															<option value="DO">Dominican Republic</option>
															<option value="EC">Ecuador</option>
															<option value="EG">Egypt</option>
															<option value="SV">El Salvador</option>
															<option value="GQ">Equatorial Guinea</option>
															<option value="ER">Eritrea</option>
															<option value="EE">Estonia</option>
															<option value="ET">Ethiopia</option>
															<option value="FK">Falkland Islands (Malvinas)</option>
															<option value="FO">Faroe Islands</option>
															<option value="FJ">Fiji</option>
															<option value="FI">Finland</option>
															<option value="FR">France</option>
															<option value="GF">French Guiana</option>
															<option value="PF">French Polynesia</option>
															<option value="TF">French Southern Territories</option>
															<option value="GA">Gabon</option>
															<option value="GM">Gambia</option>
															<option value="GE">Georgia</option>
															<option value="DE">Germany</option>
															<option value="GH">Ghana</option>
															<option value="GI">Gibraltar</option>
															<option value="GR">Greece</option>
															<option value="GL">Greenland</option>
															<option value="GD">Grenada</option>
															<option value="GP">Guadeloupe</option>
															<option value="GU">Guam</option>
															<option value="GT">Guatemala</option>
															<option value="GG">Guernsey</option>
															<option value="GN">Guinea</option>
															<option value="GW">Guinea-Bissau</option>
															<option value="GY">Guyana</option>
															<option value="HT">Haiti</option>
															<option value="HM">Heard Island and McDonald Islands</option>
															<option value="VA">Holy See (Vatican City State)</option>
															<option value="HN">Honduras</option>
															<option value="HK">Hong Kong</option>
															<option value="HU">Hungary</option>
															<option value="IS">Iceland</option>
															<option value="IN">India</option>
															<option value="ID">Indonesia</option>
															<option value="IR">Iran, Islamic Republic of</option>
															<option value="IQ">Iraq</option>
															<option value="IE">Ireland</option>
															<option value="IM">Isle of Man</option>
															<option value="IL">Israel</option>
															<option value="IT">Italy</option>
															<option value="JM">Jamaica</option>
															<option value="JP">Japan</option>
															<option value="JE">Jersey</option>
															<option value="JO">Jordan</option>
															<option value="KZ">Kazakhstan</option>
															<option value="KE">Kenya</option>
															<option value="KI">Kiribati</option>
															<option value="KP">Korea, Democratic People's Republic of</option>
															<option value="KR">Korea, Republic of</option>
															<option value="KW">Kuwait</option>
															<option value="KG">Kyrgyzstan</option>
															<option value="LA">Lao People's Democratic Republic</option>
															<option value="LV">Latvia</option>
															<option value="LB">Lebanon</option>
															<option value="LS">Lesotho</option>
															<option value="LR">Liberia</option>
															<option value="LY">Libya</option>
															<option value="LI">Liechtenstein</option>
															<option value="LT">Lithuania</option>
															<option value="LU">Luxembourg</option>
															<option value="MO">Macao</option>
															<option value="MK">Macedonia, the former Yugoslav Republic of</option>
															<option value="MG">Madagascar</option>
															<option value="MW">Malawi</option>
															<option value="MY">Malaysia</option>
															<option value="MV">Maldives</option>
															<option value="ML">Mali</option>
															<option value="MT">Malta</option>
															<option value="MH">Marshall Islands</option>
															<option value="MQ">Martinique</option>
															<option value="MR">Mauritania</option>
															<option value="MU">Mauritius</option>
															<option value="YT">Mayotte</option>
															<option value="MX">Mexico</option>
															<option value="FM">Micronesia, Federated States of</option>
															<option value="MD">Moldova, Republic of</option>
															<option value="MC">Monaco</option>
															<option value="MN">Mongolia</option>
															<option value="ME">Montenegro</option>
															<option value="MS">Montserrat</option>
															<option value="MA">Morocco</option>
															<option value="MZ">Mozambique</option>
															<option value="MM">Myanmar</option>
															<option value="NA">Namibia</option>
															<option value="NR">Nauru</option>
															<option value="NP">Nepal</option>
															<option value="NL">Netherlands</option>
															<option value="NC">New Caledonia</option>
															<option value="NZ">New Zealand</option>
															<option value="NI">Nicaragua</option>
															<option value="NE">Niger</option>
															<option value="NG">Nigeria</option>
															<option value="NU">Niue</option>
															<option value="NF">Norfolk Island</option>
															<option value="MP">Northern Mariana Islands</option>
															<option value="NO">Norway</option>
															<option value="OM">Oman</option>
															<option value="PK">Pakistan</option>
															<option value="PW">Palau</option>
															<option value="PS">Palestinian Territory, Occupied</option>
															<option value="PA">Panama</option>
															<option value="PG">Papua New Guinea</option>
															<option value="PY">Paraguay</option>
															<option value="PE">Peru</option>
															<option value="PH">Philippines</option>
															<option value="PN">Pitcairn</option>
															<option value="PL">Poland</option>
															<option value="PT">Portugal</option>
															<option value="PR">Puerto Rico</option>
															<option value="QA">Qatar</option>
															<option value="RE">Réunion</option>
															<option value="RO">Romania</option>
															<option value="RU">Russian Federation</option>
															<option value="RW">Rwanda</option>
															<option value="BL">Saint Barthélemy</option>
															<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
															<option value="KN">Saint Kitts and Nevis</option>
															<option value="LC">Saint Lucia</option>
															<option value="MF">Saint Martin (French part)</option>
															<option value="PM">Saint Pierre and Miquelon</option>
															<option value="VC">Saint Vincent and the Grenadines</option>
															<option value="WS">Samoa</option>
															<option value="SM">San Marino</option>
															<option value="ST">Sao Tome and Principe</option>
															<option value="SA">Saudi Arabia</option>
															<option value="SN">Senegal</option>
															<option value="RS">Serbia</option>
															<option value="SC">Seychelles</option>
															<option value="SL">Sierra Leone</option>
															<option value="SG">Singapore</option>
															<option value="SX">Sint Maarten (Dutch part)</option>
															<option value="SK">Slovakia</option>
															<option value="SI">Slovenia</option>
															<option value="SB">Solomon Islands</option>
															<option value="SO">Somalia</option>
															<option value="ZA">South Africa</option>
															<option value="GS">South Georgia and the South Sandwich Islands</option>
															<option value="SS">South Sudan</option>
															<option value="ES">Spain</option>
															<option value="LK">Sri Lanka</option>
															<option value="SD">Sudan</option>
															<option value="SR">Suriname</option>
															<option value="SJ">Svalbard and Jan Mayen</option>
															<option value="SZ">Swaziland</option>
															<option value="SE">Sweden</option>
															<option value="CH">Switzerland</option>
															<option value="SY">Syrian Arab Republic</option>
															<option value="TW">Taiwan, Province of China</option>
															<option value="TJ">Tajikistan</option>
															<option value="TZ">Tanzania, United Republic of</option>
															<option value="TH">Thailand</option>
															<option value="TL">Timor-Leste</option>
															<option value="TG">Togo</option>
															<option value="TK">Tokelau</option>
															<option value="TO">Tonga</option>
															<option value="TT">Trinidad and Tobago</option>
															<option value="TN">Tunisia</option>
															<option value="TR">Turkey</option>
															<option value="TM">Turkmenistan</option>
															<option value="TC">Turks and Caicos Islands</option>
															<option value="TV">Tuvalu</option>
															<option value="UG">Uganda</option>
															<option value="UA">Ukraine</option>
															<option value="AE">United Arab Emirates</option>
															<option value="GB">United Kingdom</option>
															<option value="US">United States</option>
															<option value="UM">United States Minor Outlying Islands</option>
															<option value="UY">Uruguay</option>
															<option value="UZ">Uzbekistan</option>
															<option value="VU">Vanuatu</option>
															<option value="VE">Venezuela, Bolivarian Republic of</option>
															<option value="VN">Viet Nam</option>
															<option value="VG">Virgin Islands, British</option>
															<option value="VI">Virgin Islands, U.S.</option>
															<option value="WF">Wallis and Futuna</option>
															<option value="EH">Western Sahara</option>
															<option value="YE">Yemen</option>
															<option value="ZM">Zambia</option>
															<option value="ZW">Zimbabwe</option>
														</select>
														<small v-if="contactForm.errors.has('country_code')" v-text="contactForm.errors.get('country_code')" class="form-control-feedback"></small>	
													</div>
												</div>


												<div class="form-group row">
													<div class="col-12">
														<button type="submit" class="btn btn-primary float-right ml-2">SAVE</button>
														<button @click.prevent="cancelContact" class="btn btn-danger float-right">CANCEL</button>
													</div>
												</div>
											</form>
										</div>
									</div> 
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> 


</template>

<script>

let client={ id:-1, first_name:'', last_name:'', email:''};
let contact={ id:-1, address:'', city:'', postcode:'', country_code:'NL', client_id:-1};


export default{

	data(){
		return {
			step:'',
			stepContact:'',
			table : new Table({}, 'clients'),
			clientForm: new Form(client, 'clients'),
			contactForm: new Form(contact, 'contacts'),
			tableContacts : null
		}
	},
	methods:{

		createClient(){
			this.clientForm = new Form(client, 'clients');
			this.step ='second';
		},
		editClient(client){
			this.clientForm = new Form(client, 'clients');
			this.step ='second';

			this.getContacts();
		},
		saveClient(){

			this.clientForm.submit().then(data =>{

				if(data.result)
				{
					this.clientForm =new Form(data.model, 'clients');
					Toastr.info('User Saved');
					this.table.bind();
					this.getContacts();
				}
				else
					Toastr.error('An error ocurred when saving the Client, please try again later');

			}).catch(ex =>{
				if(ex == 422)
					Toastr.error('Please verify your form');
				else
					Toastr.error('An error ocurred when saving the Client, please try again later');

			})

		},
		deleteClient(client)
		{

			window.Swal({   
				title: "Are you sure about to delete this client?",     
				type: "warning",   
				showCancelButton: true,   
				confirmButtonText: "Yes, delete it!",
				cancelButtonText: "No, cancel plx!",   
			}).then(confirm =>
			{

				let endpoint = config.apiEndPoint + 'clients/' + client.id;
				axios.delete(endpoint).then(response =>{

					if(response.data.result)
					{
						window.Swal("Deleted!", "The client type <strong>"+ client.name + "</strong> has been deleted", "success");   
						this.table.bind();
					}
					else
						window.Swal("Error!", "An error ocurred when deleting the client", "error");   
				})

			}).catch((error) => {console.log(error)})

		},
		cancelClient(){
			this.step = '';
			this.stepContact = '';
		},
		createContact()
		{	contact.client_id = this.clientForm.id;
			this.contactForm = new Form(contact, 'contacts');
			this.stepContact = 'second';
		},
		editContact(contact)
		{
			this.contactForm = new Form(contact, 'contacts');
			this.stepContact = 'second';
		},
		deleleContact(contact)
		{
			
			window.Swal({   
				title: "Are you sure about to delete this contact?",     
				type: "warning",   
				showCancelButton: true,   
				confirmButtonText: "Yes, delete it!",
				cancelButtonText: "No, cancel plx!",   
			}).then(confirm =>
			{

				let endpoint = config.apiEndPoint + 'contacts/' + contact.id;
				axios.delete(endpoint).then(response =>{

					if(response.data.result)
					{
						window.Swal("Deleted!", "The contact has been deleted", "success");   
						this.tableContacts.bind();
					}
					else
						window.Swal("Error!", "An error ocurred when deleting the contact", "error");   
				})

			}).catch((error) => {console.log(error)})
		},
		cancelContact(){
			this.stepContact = '';
		},
		getContacts()
		{

			this.tableContacts = new Table({}, 'contacts/' + this.clientForm.id);
			this.tableContacts.bind();

		},
		saveContact(){

			this.contactForm.submit().then(data =>{

				if(data.result)
				{
					this.contactForm =new Form(data.model, 'clients');
					Toastr.info('Contact Saved');
					this.stepContact = '';
					this.tableContacts.bind();
				}
				else
					Toastr.error('An error ocurred when saving the Contact, please try again later');

			}).catch(ex =>{
				if(ex == 422)
					Toastr.error('Please verify your form');
				else
					Toastr.error('An error ocurred when saving the Contact, please try again later');

			})

		}
	},
	mounted()
	{
		this.table.bind();
		console.log("clients");
	}
}


</script>