<template>
	
	<div class="row mt-5">
		<div class="col-6 col-md-8 col-lg-5 ml-auto mr-auto">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Authentication</h4>
					<form class="mt-5" @submit.prevent="login" @keypress="form.errors.clear($event.target.name)">
						<div class="form-group row" :class="{ 'has-danger' : form.errors.has('email') }">
							<label for="email" class="col-sm-2 form-control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" v-model="form.email" class="form-control" name="email" placeholder="Email">
								<small v-if="form.errors.has('email')" v-text="form.errors.get('email')" class="form-control-feedback"></small>
							</div>

						</div>
						<div class="form-group row" :class="{ 'has-danger' : form.errors.has('password') }">
							<label for="password" class="col-sm-2 form-control-label">Password</label>
							<div class="col-sm-10">
								<input type="password" v-model="form.password" class="form-control" name="password" placeholder="Password">
								<small v-if="form.errors.has('password')" v-text="form.errors.get('password')" class="form-control-feedback"></small>	
							</div>
							
						</div>
						<div class="form-group row">
							<div class="col-12">
								<button type="submit" class="btn btn-primary float-right">Sign in</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div> 
</template>

<script>

export default{

	data(){

		return {
			form:new Form({email:'', password:''}, 'login')
		}
	},
	methods:{

		login(){

			this.form.submit().then(data =>{

				if(data.result)
				{	
					Event.$emit('update-user', data.user);
				}
				else
					Toastr.error(data.msg);

			}).catch(data =>{
				if(ex == 422)
					Toastr.error('Please verify your form');
				else
					Toastr.error('An error ocurred whit  the server, please try again later and check your internet connection');
			});

		}

	},
	mounted()
	{
		console.log("login");


	}
}


</script>